<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4">
      <% if policy(Question).create? %>
      <%= link_to "Poser une nouvelle question", new_question_path, class:"btn revote" %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <% @questions.order(:cached_votes_down).each do |question|  %>
        <div class="product">
          <div class="product-upvote">
            <%= link_to like_question_path(question), method: :put do %>
            <i class="fa fa-arrow-circle-up"></i><% end %>
            <div class='product-count'><%= question.get_upvotes.size %></div>
          </div>
          <div class="product-body">
            <h3><%= question.title %></h3>
            <p><%= question.description %></p>
          </div>
          <div class="edit-buttons">
            <% if policy(Question).destroy? %>
               <%= link_to "", question, method: :delete, class:"fa fa-trash" %>
            <% end %>
            <% if policy(Question).edit? %>
               <%= link_to "", edit_question_path(question), class:"fa fa-edit" %>
            <% end %>
          </div>
        </div>
      <% end  %>
    </div>
  </div>
</div>
