<div class="container">
  <div class="product" id="<%= '@question_' + @question.id.to_s %>">
    <div class="product-upvote">
      <%= link_to like_question_path(@question), method: :put do %>
      <i class="fa fa-arrow-circle-up"></i><% end %>
        <div class='product-count'><%= @question.get_upvotes.size %></div>
    </div>
    <div class="product-body">
        <h3><%= @question.title %></h3>
        <p><%= @question.description %></p>
    </div>
  </div>
  <div class="product" style="margin-top: 28px; margin-bottom: 30px;">
    <div class="product-body">
      <h3>Réponse</h3>
      <p style="color: black; font-weight:normal; margin-top: 25px; margin-bottom: 45px;"><%= @question.answer %></p>
    </div>
  </div>
  <%= link_to "Retourner aux questions", questions_path, class:"btn revote" %>
</div>
