<div class="container">

  <div class="row">
    <div class="col-xs-12" id="listequestion">
      <% @stories.each do |story| %>
      <%= link_to "#{story.sharedUrl}", class:"link-question" do %>
      <div class="product">
        <div class="product-upvote hidden-xs">
        <%= image_tag "https://www.francetvinfo.fr/#{story.media}" %>
        </div>

        <div class="product-body">
        <h3><%= link_to "#{story.title}", "#{story.sharedUrl}", class:"link-question"%></h3>
        <p><%= story.description.force_encoding(Encoding::UTF_8) %></p>
        </div>
        <p class="answer" style="color:blue; text-algn: right; margin: 4px"><i class="fa fa-facebook"> </i><%= story.fb_count %></p>
      </div>
      <% end  %>
          <% end  %>
    </div>
  </div>
</div>
